*.gradle/*
*/*/wrapper/*
*bin
*classes
*tmp
*/*/libs/*Plugin*\.jar
*.settings
*.classpath
*.project
*.recommenders
*.log
*.out
*.idea
*.bak
*logs/
*.metadata/
*gradlew
*.iml
*.DS_Store
*extLibs
*.hprof
*.lock
**/cache.properties